<div class='top-menu navbar navbar-default'>
<div class='row'>
<div class='col-md-2'></div>
<div class='col-md-3'>
<div class='navbar-header'>
<p class='brandP'>
<a href='http://pubnub.com' style='text-decoration:none'>
<img height='30px' src='images/pubnub-large.png'>
</a>
&nbsp;&nbsp;&nbsp;
+
&nbsp;&nbsp;&nbsp;
<a href='http://angularjs.org' style='text-decoration:none'>
<img height='30px' src='http://angularjs.org/img/AngularJS-large.png'>
</a>
</p>
</div>
</div>
<div class='col-md-5'>
<ul class='nav navbar-nav pull-right'>
<li class='active'>
<a href=''>Agile Poker</a>
</li>
<li>
<a href='https://github.com/pubnub/angular-js'>PubNub AngularJS API</a>
</li>
<li>
<a href='https://github.com/pubnub/angularjs-agile-poker'>
<i class='fa fa-github'></i>
Code @ GitHub
</a>
</li>
</ul>
</div>
</div>
</div>
