<section style='padding-top:0px;background-color:#ffffff'>
<div class='row'>
<div class='col-md-2'></div>
<div class='col-md-5'>
<div class='row'>
<div class='col-md-12'>
<div class='row'>
<div class='col-md-2'>
<img class='pull-left' height='96px' src='images/Watches_2x.png' style='margin-top:40px'>
</div>
<div class='col-md-10'>
<h1 class='marker'>Agile Poker</h1>
<small>
A
<a href='http://pubnub.github.io/angular-js/'>PubNub AngularJS API</a>
Sample App
</small>
</div>
</div>
<div class='row'>
<br>
<p>
Agile Poker is a collaborative task estimation
tool for agile teams built with
<a href='http://angularjs.org'>AngularJS</a>
and powered by
<a href='http://pubnub.com'>PubNub</a>
global real-time communication infrastructure.
</p>
<div class='row'>
<div class='col-md-8'>
<h6>Here's how it works:</h6>
<ol>
<li>Rally a team together</li>
<li>Sign in & create a room for your estimating</li>
<li>Discuss & Vote to determine the sizing</li>
<li>Reveal votes to see if there's consensus!</li>
</ol>
</div>
<div class='col-md-4'>
<img class='pull-left' height='160px' src='images/Clipboard_2x.png'>
</div>
</div>
<p>
<small>
For more information about planning poker and software estimation, click
<a href='http://en.wikipedia.org/wiki/Planning_poker'>here</a>
.
</small>
</p>
</div>
</div>
</div>
</div>
<div class='col-md-3'>
<br>
<div class='alert alert-info'>
<h4 class='marker' style='white-space:nowrap'>
<i class='fa fa-spinner fa-spin'></i>
Sign in to continue
</h4>
<form ng-submit='join()'>
<ul class='list-unstyled'>
<li>
<label>
Username
</label>
</li>
<li>
<input class='input-lg input-block form-control' ng-model='data.username' style='width:100%;margin-bottom:10px' type='text'>
</li>
<li>
<button class='btn btn-block btn-primary' style='width:100%' type='submit'>
<i class='fa fa-sign-in'></i>
Join
</button>
</li>
</ul>
</form>
</div>
</div>
</div>
</section>
