
.col-md-2
  %small.marker Online Users
  %ul.list-unstyled
    %li(ng-repeat="user in users")
      %span.label.btn-mini.userlabel(ng-class="{'label-default': user != data.username, 'label-info': (user == data.username && user != data.admin), 'label-warning':(user == data.username && user == data.admin)}")
        %i.fa.fa-user
        {{user}}

.col-md-10
  %small.marker Chat History

  %form(ng-submit='sendChat()')
    .input-group
      %input.input-sm.form-control(type="text" ng-model='data.message')
      %span.input-group-btn
        %input.input-sm.btn.btn-default(type='submit' value='Send')

  %pre#chat_history.well.chatbox