.col-md-10
  %h6.marker
    %i.fa.fa-comments-o
    Chat History  
  %pre#chat_history.well.chatbox

  %form(ng-submit='sendChat()')
    .input-group
      %input.input-sm.form-control(type="text" ng-model='data.message')
      %span.input-group-btn
        %input.input-sm.btn.btn-default(type='submit' value='Send')

.col-md-2
  %br 
  %small.marker Online Users
  %ul.list-unstyled
    %li(ng-repeat="user in users")
      %span.label.btn-mini.userlabel(ng-class="{'label-default': user != data.username, 'label-info': (user == data.username && user != data.admin), 'label-warning':(user == data.username && user == data.admin)}")
        %i.fa.fa-user
        {{user}}
  %ul.list-unstyled
    %li
      %a(href="#/lobby")
        %i.fa.fa-home
        Lobby
    %li
      %a(href="#/login")
        %i.fa.fa-sign-out
        Sign Out
          



