.top-menu.navbar.navbar-default
  .row
    .col-md-2
    .col-md-3
      .navbar-header
        %p.brandP
          %a(href='http://pubnub.com' target="_blank" style='text-decoration:none')
            %img(src='images/pubnub-large.png' height='30px')
          &nbsp;&nbsp;&nbsp;
          +
          &nbsp;&nbsp;&nbsp;
          %a(href='http://angularjs.org' target="_blank" style='text-decoration:none')
            %img(src='http://angularjs.org/img/AngularJS-large.png' height='30px')
    .col-md-7
      %ul.nav.navbar-nav.pull-right
        %li.active
          %a(href="{{'#/intro/'}}")
            %i.fa.fa-youtube-play
            Demo
        %li.active
          %a(alt="PubNub Real-Time Network Twitter" target="pntwitter" href="http://twitter.com/PubNub")
            %i.fa.fa-twitter 
            News
        %li.active
          %a(alt="PubNub Real-Time Network" target="freetrial" href="http://www.pubnub.com/free-trial")
            %i.fa.fa-code
            Trial
        %li.active
          %a(href="https://github.com/pubnub/pubnub-angular/blob/master/README.asciidoc" target="_blank")
            %i.fa.fa-book
            Docs
        %li.active
          %a(href="https://github.com/pubnub/angularjs-agile-poker" target="_blank")
            %i.fa.fa-github
            Code
        %li.active
          %a(href="{{'#/login/'}}")
            %i.fa.fa-sign-in
            Sign In
        

