
.top-menu.navbar.navbar-default
  .row
    .col-md-2
    .col-md-3
      .navbar-header
        %p.brandP
          %a(href='http://pubnub.com' style='text-decoration:none')
            %img(src='images/pubnub-large.png' height='30px')
          &nbsp;&nbsp;&nbsp;
          +
          &nbsp;&nbsp;&nbsp;
          %a(href='http://angularjs.org' style='text-decoration:none')
            %img(src='http://angularjs.org/img/AngularJS-large.png' height='30px')
    .col-md-5
      %ul.nav.navbar-nav.pull-right
        %li.active
          %a(href="") Agile Poker
        %li
          %a(href="https://github.com/pubnub/angular-js") PubNub AngularJS API
        %li
          %a(href="https://github.com/pubnub/angularjs-agile-poker")
            %i.fa.fa-github
            Code @ GitHub

