%section
  .row
    .col-md-2
    .col-md-8
      .row
        .col-md-9
          %h1.marker
            Agile Poker

%section(style="border-top:1px solid #e0e0e0")
  .row
    .col-md-2
    .col-md-8
      %h3.marker
        Join a Task Room
      .alert
        %ul.list-unstyled.list-inline
          %li.roomlabel(ng-repeat="room in data.rooms")
            %a.btn.btn-block.btn-info(href="{{'#/rooms/' + room.name}}")
              %i.fa.fa-comments
              {{room.name}}

          %li.roomlabel
            %a.btn.btn-primary(href="" ng-click='data.showCreate = !data.showCreate')
              %i.fa.fa-plus
              New Room

      %div(ng-show='data.showCreate')
        %h4.marker Create New Room
        %form(ng-submit='createRoom()')
          .input-group
            %input.input-sm.form-control(type="text" ng-model='data.new_room.name' placeholder="Room Name")
            %span.input-group-btn
              %input.input-sm.btn.btn-default(type='submit' value='Go!')

      %br

%section(style="border-top:1px solid #e0e0e0")
  .row
    .col-md-2
    .col-md-8
      %h3.marker Lobby
      %div(ng-include=true src="'views/_chat.html'")
 
      %br
      %br


