%section
  .row
    .col-md-2
    .col-md-8
      .row
        .col-md-9
          %h3.marker
            %i.fa.fa-comments-o
            Agile Poker: {{data.room}}
          %p
            A
            %a(href="http://pubnub.github.io/angular-js/") PubNub AngularJS API
            Sample App
        .col-md-3
          %br
          %h4.marker.pull-right
            %a(href="#/login")
              Sign Out
              %i.fa.fa-sign-out
          %br
          %h4.marker.pull-right
            %a(href="#/lobby")
              Lobby
              %i.fa.fa-home

%section(style="border-top:1px solid #e0e0e0")
  .row
    .col-md-2
    .col-md-8
      %h2.marker 1. Discuss...
      %div(ng-include=true src="'views/_chat.html'")

%section(style="border-top:1px solid #e0e0e0")
  .row
    .col-md-2
    .col-md-8
      %h2.marker 2. Vote!
      %div(ng-include=true src="'views/_votes.html'")
